# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

<b> Objectives: </b>
- Java
- Python
- Ruby
- C++

Some of the popular languages in Data scientists use are:
1. Java
2. C++
3. Ruby
4. Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciKit
4. TensorFlow

|Data Science Tools|
|-----|
|ApacheSpark|
|Rstudio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Avinash Thakur